<div class="form-container email-component">
  <a href="/login" id="goback">Go back</a>

  <h5 style="text-align: center;">用户登录</h5>

  <span class="error" *ngIf="error" [@fallIn]="state">{{ error }}</span>

  <form #formData="ngForm">

    <div class="input-group">
      <span class="input-group-label" style="padding: 0 .425rem;color:dimgray;">
        <i class="material-icons">&#xE8D3;</i>
      </span>
      <input class="input-group-field" type="text" placeholder="Email address" (ngModel)="email" name="email" required>
    </div>


    <div class="input-group">
      <span class="input-group-label" style="padding: 0 .425rem;color:dimgray;">
        <i class="material-icons">&#xE897;</i>
      </span>
      <input class="input-group-field" type="password" placeholder="Password" (ngModel)="password" name="password" required>
    </div>


    <div style="text-align: center;">
      <button type="submit" (click)="onSubmit(formData)" [disabled]="!formData.valid" class="basic-btn button">Log in</button>
    </div>
    <a href="/registry"  class="alc">Don's have an account</a>

  </form>

</div>
