

<div *ngIf="!isArticlePreview">
  <div class= "clearfix" style="width: 100%;   padding-bottom: .5em;">
    <span appArticleTag="'hotpink'">{{ articlePage.type }}</span>
    <span appArticleTag="'hotpink'">{{ articlePage.tags }}</span>
  </div>

  <h1 class="display-4 article_title">{{ articlePage.title }} {{isArticlePreview}}</h1>

  <div style="    color: gray;">
    创建于: {{ articlePage.created_at }}, 最后更新: {{ articlePage.last_updated }}
  </div>

  <div class=" clearfix" id="editor" style="width: 100%;">

    <form #formData="ngForm" style="margin-top: .85em;">

      <div class="form-group">
        <label for="artileTitle" class="col-sm-2 control-label">文章标题</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" id="artileTitle" name="artileTitle"
                 [(ngModel)]="articlePage.title"  placeholder="文章标题" required>
        </div>
      </div>
      <div class="form-group">
        <label for="artileKeywords" class="col-sm-2 control-label">文章关键字</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="artileKeywords" name="artileKeywords"
                 [(ngModel)]="articlePage.keywords" placeholder="文章关键字">
        </div>
      </div>
      <div class="form-group">
        <label for="articleDesc" class="col-sm-2 control-label">文章描述</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="articleDesc" name="articleDesc"
                 [(ngModel)]="articlePage.description" placeholder="文章描述">
        </div>
      </div>

      <textarea [froalaEditor] [(froalaModel)]="articlePage.html_content"></textarea>

      <div style="text-align: right; margin-top: 2em;">
        <button type="submit" (click)="onSubmit(formData)" [disabled]="!formData.valid" class="basic-btn button">保存</button>
        <a target="_self" href="/articles/{{createTimestamp}}/{{articleName}}?preview" class="basic-btn button">预览</a>
        <button type="submit" class="basic-btn button">发布</button>
        <button type="submit" class="basic-btn button">撤回</button>
        <button type="submit" formaction="/delete" class="basic-btn button" style="background-color: brown;">删除</button>
      </div>
    </form>

  </div>
</div>

