


  <div class= "clearfix" style="width: 100%;   padding-bottom: .5em;">

    <span appArticleTag="'hotpink'">{{ articlePage.type }}</span>
    <span appArticleTag="'hotpink'">{{ articlePage.tags }}</span>
  </div>



  <div class=" clearfix" id="editor" style="width: 100%;">

    <form #formData="ngForm" style="margin-top: .85em;">

      <div class="form-group">
        <label for="artileTitle" class="col-sm-2 control-label">文章标题</label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" id="artileTitle" name="artileTitle"
                 [(ngModel)]="articlePage.title"  placeholder="文章标题" required>
        </div>
      </div>
      <div class="form-group">
        <label for="artileKeywords" class="col-sm-2 control-label">文章关键字</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="artileKeywords" name="artileKeywords"
                 [(ngModel)]="articlePage.keywords" placeholder="文章关键字">
        </div>
      </div>
      <div class="form-group">
        <label for="articleDesc" class="col-sm-2 control-label">文章描述</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="articleDesc" name="articleDesc"
                 [(ngModel)]="articlePage.description" placeholder="文章描述">
        </div>
      </div>

      <div class="form-group">

        <input type="hidden" name="url" value="{{ articlePage.url }}">
        <input type="hidden" name="name" value="{{ articlePage.name }}">

        <textarea class="form-control" id="markdown" name="markdown" rows="15">{{ articlePage.name_base64 }},
        {{ articleName }}</textarea>

      </div>

      <div style="text-align: right;">
        <button type="submit" (click)="onSubmit(formData)" [disabled]="!formData.valid" class="basic-btn button">保存</button>
        <button type="submit" class="basic-btn button">预览</button>
        <button type="submit" class="basic-btn button">发布</button>
        <button type="submit" class="basic-btn button">撤回</button>
        <button type="submit" formaction="/delete" class="basic-btn button" style="background-color: brown;">删除</button>
      </div>
    </form>

  </div>
