
/*** global style: base html ***/
h1, h2, h3, h4, h5, h6 {
  width: 100%;
}

.button {
  cursor: pointer;
}

.button, .button:hover, button:focus {
  outline:0 !important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);
}

.button:active {
  /*background-color: #3e8e41;*/
  /*box-shadow: 0 5px #666;*/
  transform: translateY(1px);
  /*color:red !important;*/
}

/*a:link {color:#FF0000;}    !* unvisited link, same as regular 'a' *!*/
/*a:hover {color:#FF00FF;}   !* mouse over link *!*/
/*a:focus {color:#0000FF;}   !* link has focus *!*/
/*a:active {color:#0000FF;}  !* selected link *!*/
/*a:visited {color:#00FF00;} !* visited link *!*/



.error {
  padding: .1em .5em;
  margin-bottom: 0.5em;
  background-color: burlywood;
  color: brown;
  display: inline-block;
}


/*** global style: site settings ***/
.article_title {
  padding-top: .3em;margin-bottom:0;font-size: 2rem;
}

.article_content {
  width: 100%;
}
